html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.footer {
    /* Add your footer styling here */
}

.startseite-container {
    overflow: auto; /* Verhindere, dass der Container seine Höhe aufgrund des schwebenden Bildes verliert */
}

.startseite-container img.float-left {
    float: left; /* Float das Bild nach links */
    margin-right: 20px; /* Füge einen rechten Abstand zum Bild hinzu, um den Text abzurücken */
}
.startseite-container img.float-right {
    float: right; /* Float das Bild nach links */
    margin-left: 20px; /* Füge einen rechten Abstand zum Bild hinzu, um den Text abzurücken */
}

