body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/bg-rezept.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.90;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Main Container (Default-View) */
.main-content {
    margin: 60px 0;
    padding-top: 1px;
}

/* Tablets */
@media (min-width: 600px) {
    .main-content {
        margin: 70px 0;
    }
}

/* Desktop */
@media (min-width: 900px) {
    .main-content {
        margin-top: 85px;
        margin-bottom: 10px;
    }
}
