body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/bg-rezept.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.90;
}

a {
    text-decoration: none;
    color: inherit;
}
